.jumpstart-container-top {
  margin-left: 9vw;
  margin-right: 9vw;
  /* margin-top: 20vh; */
}

.jump-file {
  background: transparent;
  padding: 15px 30px;
  border-radius: 36px;
  border: 1px solid #2f2f2f;
  width: 345px;
  font-size: 20px;
  line-height: 27px;
  color: #afafaf;
  font-family: "AcehLight";
  cursor: pointer;
  text-align: left;
}

.jump-file span {
  opacity: 0.5;
}

#upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.link-icon-set {
  position: relative;
}

.link-icon {
  position: absolute;
  left: 28px;
  top: 17px;
}

.link-icon span {
  font-size: 20px;
  line-height: 27px;
  color: #afafaf;
  opacity: 0.5;
  font-family: "AcehLight";
}

#jumpShareBack {
  display: none;
}

.input-fill-span {
  color: #ff3b3b;
}

.hero-middle-button-services {
  margin-top: 40px;
  background: #25272d;
  padding: 10px 20px;
  width: 412px;
  /* float: right; */
  height: 50px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
}

.hero-middle-button-services .hero-middle-btnText {
  font-size: 22px;
  color: white;
  line-height: 29px;
  transition: 0.3s;
  font-family: "Aceh";
}

.hero-middle-btnTwo-services {
  position: relative;
  width: 412px;
  height: 50px;
  margin-top: -40px;
  padding-top: 0.2px;
  border-radius: 25px;
  background: #0b83fe;
  left: -580px;
  transition: 0.7s;
}

.hero-middle-button-services .hero-middle-btnText2 {
  font-size: 22px;
  margin-top: 10px;
  margin-right: 0px;
  line-height: 29px;
  color: white;
  font-family: "Aceh";
}

.hero-middle-button-services:hover .hero-middle-btnTwo-services {
  left: -21px;
}

.hero-middle-button-services:active {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .jumpstart-container-top {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 80px;
  }

  .jump-file {
    background: transparent;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px solid #2f2f2f;
    width: 289px;
    font-size: 14px;
    line-height: 19px;
    color: #afafaf;
    font-family: "AcehLight";
    cursor: pointer;
    text-align: left;
  }

  .link-icon {
    position: absolute;
    left: 12px;
    top: 8px;
  }
}
