/* Webfont: AcehSoft-Black */@font-face {
    font-family: 'AcehSoftBlack';
    src: url('AcehSoft-Black.eot'); /* IE9 Compat Modes */
    src: url('AcehSoft-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AcehSoft-Black.woff') format('woff'), /* Modern Browsers */
         url('AcehSoft-Black.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

