/* Webfont: AcehSoft-ThinOblique */@font-face {
    font-family: 'AcehSoftThin';
    src: url('AcehSoft-Thin Oblique.eot'); /* IE9 Compat Modes */
    src: url('AcehSoft-Thin Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AcehSoft-Thin Oblique.woff') format('woff'), /* Modern Browsers */
         url('AcehSoft-Thin Oblique.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

