/* Webfont: Aceh-Oblique */@font-face {
    font-family: 'Aceh';
    src: url('Aceh-Regular.eot'); /* IE9 Compat Modes */
    src: url('Aceh-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Aceh-Regular.woff') format('woff'), /* Modern Browsers */
         url('Aceh-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

