/* Webfont: Aceh-MediumOblique */@font-face {
    font-family: 'AcehMed';
    src: url('Aceh-Medium.eot'); /* IE9 Compat Modes */
    src: url('Aceh-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Aceh-Medium.woff') format('woff'), /* Modern Browsers */
         url('Aceh-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

